<div class="container mt-5 d-flex justify-content-center">
  <div class="w-25 d-block">
  <h3>Log in</h3>
    <%= form_for @user, url:"/sessions/create", method: "post" do |f| %>
      <div>
        <%= f.label :username %>
        <%= f.text_field :username, placeholder: 'Username', class: 'form-control' %>
      </div>
      <%= f.submit "Log in", class: 'btn btn-primary my-2' %>
      <%= link_to 'Back', root_path, class: 'btn btn-warning' %>
    <% end %>
  </div>
</div>
